.wrapper {
  padding: 0 16px 20px;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.label {
  font-size: 19px;
  margin-top: 10px;
  margin-bottom: 6px;
}

.button {
  margin-top: 20px;
}
